# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# ML specific
*.pkl
*.h5
*.ckpt
models/saved/
logs/
mlruns/
vvs/

# Data artifacts (do NOT commit raw data to Git)
data/**

# Allow DVC metadata files under data/ to be committed
!data/
!data/**/
!data/**/*.dvc
!data/**/.gitkeep

# OS
.DS_Store
Thumbs.db